body {
  font-family: Yekan;
  direction: rtl;
}
#wowslider-container0 {
  margin-top: 0;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 !important;
  margin: 0 !important;
}
hr {
  height: 0;
  margin: 15px 0;
  box-sizing: content-box;
  border: none;
  border-top: 1px solid white;
}
header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  left: 0;
}
ul {
  list-style: none;
}
.header-logo-container {
  background-color: rgba(52, 52, 52, 0.8);
}
.header-logo-main {
  padding: 8px 0;
}
.nav-container {
  background-color: rgba(30, 123, 216, 0.8);
}
.nav-container.uk-active {
  animation: uk-fade-top 0.5s;
}
.nav-main {
  padding: 0;
  margin: 0;
}
.nav-main > li ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.nav-main li {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.nav-main > li > a {
  position: relative;
  display: block;
  color: white;
  padding: 5px 15px;
  line-height: 2;
  z-index: 1;
}
.nav-main > li:hover > a {
  color: #1899d5 !important;
}
.nav-main > li > a::before {
  transform: skew(-15deg) scaleY(0);
  transform-origin: bottom;
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s, transform-origin 0s;
  z-index: -1;
}
.nav-main > li:hover > a::before {
  transform: skew(-15deg) scaleY(1) translate(6px);
  z-index: -1;
  transform-origin: top;
}
.nav-main > li ul {
  z-index: 5;
  min-width: 200px;
  -webkit-box-shadow: 0px 6px 25px -6px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 6px 25px -6px rgba(0, 0, 0, 0.45);
  background-color: white;
  color: #1899d5 !important;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #057fb0;
  transition: all 0.5s, visibility 0s;
  pointer-events: none;
}
.nav-main > li:hover ul {
  visibility: visible;
  pointer-events: initial;
  opacity: 1;
}
.nav-main > li ul li {
  transform: translateX(0);
  display: block;
  transition: 0.5s ease;
}
.nav-main > li ul li:hover {
  transform: translateX(-5px);
}
.nav-main > li:not(:last-child)::after {
  content: "";
  height: 16px;
  border-left: 1px solid white;
  position: absolute;
  top: 10px;
  left: 0;
  transform: skew(-15deg);
}
.nav-main > li ul li a {
  color: #1899d5;
}
@media only screen and (max-width: 768px) {
  .nav-main {
    display: none;
  }
}
.btn-nav-res * {
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
  color: #1899d5;
}
.btn-nav-res {
  margin: 5px;
}
.nav-res {
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 200px;
  height: 100vh;
  background-color: #1e7bd8;
}
.nav-res.uk-active {
  display: inline !important;
}
.nav-res > li {
  display: block;
}
.nav-res > li > a {
  color: white;
  display: block;
  position: relative;
  padding: 5px;
}
.nav-res > li:not(.no-submenu) > a::after {
  content: "\f078";
  position: absolute;
  left: 5px;
  font-weight: 100;
  font-size: 10px;
  margin-right: auto;
  font-family: FontAwesome;
}
.nav-res > li:hover {
  border-right: 1px solid #04e2f6;
}
.nav-res > li:hover > a {
  color: white;
  background-color: #04f6cd;
}
.nav-res > li ul {
  margin-right: 15px;
  position: absolute;
  visibility: hidden;
}
.nav-res > li:hover > ul {
  position: static;
  visibility: visible;
  opacity: 1;
}
.nav-res > li ul a {
  color: white;
}
.owl-carousel {
  direction: ltr;
}
.owl-carousel img {
  height: 68px;
  margin: auto;
  width: auto !important;
}
.owl-carousel .item {
  transition: all 0.5s ease;
}
.owl-carousel .item:hover {
  transform: scale(1.05);
}
.owl-carousel .item .text {
  text-align: center;
}
.owl-next,
.owl-prev {
  color: #428cd7 !important;
  text-align: center;
  font-size: 25px;
  background: transparent !important;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
.owl-prev:hover,
.owl-next:hover {
  color: #1bc4c5 !important;
}
.marquee-container {
  background-color: #1899d5;
  color: white;
  text-align: center;
  padding: 10px;
}

.news-container {
  gap: 20px;
  display: inline-flex;
  flex-wrap: wrap;
}
.news {
  border: 1px solid #c8c8c8;
  flex-grow: 1;
  flex-basis: 100%;
  min-width: 238px !important;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}
.news:hover {
  transform: translateY(-2px);
}
@media only screen and (min-width: 768px) {
  .news {
    flex-basis: 40%;
  }
}
@media only screen and (min-width: 820px) {
  .news {
    flex-basis: 30%;
  }
}
.news img {
  width: 100% !important;
  height: 210px !important;
}
.news-text {
  padding: 5px 10px;
}
.news-title a {
  display: inline !important;
  color: #1899d5;
}
.news-title .small {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px !important;
  display: block;
  color: #909090;
}
span.alert {
  color: red;
  font-size: 11px;
  margin-right: 3px;
}
.news-details {
  color: #909090;
  font-size: 12px !important;
}
.news-details::before {
  color: #838383;
  content: "|";
  font-size: 12px;
  padding: 0 5px;
  font-weight: normal;
}
.news-date {
  text-align: left;
  margin: 5px;
  position: relative;
  margin-top: auto;
}
.news-date:after {
  content: "\f073";
  color: white;
  font-family: FontAwesome;
  background: linear-gradient(45deg, #04f6cd, #1899d5);
  padding: 5px;
  margin-right: 8px;
}
.news-date::before {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-left-color: #18afd5;
  left: 23px;
  top: 7px;
}
.services {
  background: url("../media/serv-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 10px;
}
.services ul {
  gap: 40px;
  padding: 0 !important;
}
.services li {
  margin: 0 !important;
  display: inline-block;
}
.services [class*="icon"]::after {
  content: "";
  transition: all 0.5s ease, transform-origin 0s;
  border: 10px solid #04e2f6;
  border-bottom: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  transform-origin: top;
  transform: scaleY(0) translate(-50%);
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: -1;
}
.services a:hover [class*="icon"]::after {
  transform: scaleY(1) translate(-50%);
  transform-origin: top;
}
.services [class*="icon"]::before {
  transition: all 0.5s ease, transform-origin 0s;
  content: "";
  background: linear-gradient(45deg, #04f6cd, #1899d5);
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  position: absolute;
  transform-origin: top;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.services a:hover [class*="icon"]::before {
  transform: scaleY(1);
  transform-origin: bottom;
}
.services li > a {
  width: 110px;
}
.services li > a,
.services li > a * {
  color: white;
  text-align: center;
  display: block;
}
.services a:hover [class*="icon"] {
  border-color: transparent !important;
}
.services li [class*="icon"] {
  transition: all ease 0.5s;
  margin-bottom: 20px;
  position: relative;
  border: 1px dashed white;
  z-index: 1;
  display: inline-block;
}
.services li [class*="icon"] > * {
  display: inline-block;
  margin: 20px;
  height: 56px;
  width: 60px;
  background: url("../media/au-sprites.png");
}
.icon1 > * {
  background-position: 0 0 !important;
}
.icon2 > * {
  background-position: 60px 0 !important;
}
.icon3 > * {
  background-position: 120px 0 !important;
}
.icon4 > * {
  background-position: 180px 0 !important;
}
.icon5 > * {
  background-position: 240px 0 !important;
}
.icon6 > * {
  background-position: 300px 0 !important;
}
.icon7 > * {
  background-position: 360px 0 !important;
}
.icon8 > * {
  background-position: 420px 0 !important;
}
.icon9 > * {
  background-position: 480px 0 !important;
}
.systems {
  background: fixed url("../media/system-bg.jpg");
  padding: 20px;
  background-size: cover;
}
.systems img {
  height: 225px;
  width: 200px;
}
.systems li > a {
  display: inline-block;
  background-color: white;
  text-align: center;
  font-size: 10px;
  transition: 0.5s ease;
}
.systems li {
  transition: 0.5s ease;
}
.systems li > a > div {
  padding: 10px 5px;
  position: relative;
}
.systems li:hover {
  transform: translateY(3px);
}
.systems li:hover > a {
  box-shadow: 0 0 0 1px #04e2f6;
}
.systems li > a > div::before {
  content: "";
  border: 10px solid;
  border-color: white transparent;
  border-top: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.title-wrapper {
  display: flex;
  position: relative;
  margin: 20px 0;
}
.title {
  color: #525252;
  display: flex;
  font-size: 16px;
  flex: 1;
  justify-content: center;
}
.title::before,
.title::after {
  content: "";
  flex-grow: 1;
  background: linear-gradient(#428cd7, #428cd7) repeat-x center / 100% 1px;
  transform: skew(-15deg);
  max-width: 60px;
}
.title::before {
  margin-left: 20px;
  border-left: 1px solid #428cd7;
}
.title::after {
  margin-right: 20px;
  border-right: 1px solid #428cd7;
}
.customer-carousel {
  position: relative;
  bottom: -50px;
  background-color: white;
  padding: 20px 0;
  -webkit-box-shadow: 0px 3px 21px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 21px 6px rgba(0, 0, 0, 0.3);
}
footer {
  padding-top: 50px;
  background-color: #525252;
}
footer a {
  color: white !important;
  transition: 0.5s ease;
  display: block;
  padding: 5px;
}
footer a:hover {
  color: #04e2f6 !important;
  transform: translateX(-5px);
}
.footer-title-wrapper {
  padding: 20px 0;
  display: flex;
  position: relative;
}
.footer-title {
  color: white;
  font-size: 16px;
  display: flex;
  flex: 1;
}
.footer-title::after {
  content: "";
  flex-grow: 1;
  background: linear-gradient(#04e2f6, #04e2f6) repeat-x center / 100% 1px;
  transform: skew(-15deg);
  max-width: 60px;
}
.footer-title::after {
  margin-right: 20px;
  border-left: 1px solid #04e2f6;
}
.footer-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo-wrapper img {
  margin: 0 20px;
}
.footer-logo-wrapper::before,
.footer-logo-wrapper:after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid white;
}
